<%- include(appDir + '/views/partials/t'); %>
  
  <div class="container">

    <h1>Admin</h1>
    <br>
    <h3><a href="/admin1/update" style="border:2px solid Tomato;"><u>Izmene pitanja</u></a></h3>
    <br>
    <h3><a href="/admin1/del_index" style="border:2px solid Tomato;"><u>Brisanje pitanja i testova i update index-a</u></a></h3>

  </div>

  <%- include(appDir + '/views/partials/t2'); %>