<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center py-3 border-top">
    <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
      <li><a href="/sajt/about" class="nav-link px-2 link-dark">O sajtu</a></li>
      <li><a href="/sajt/kontakt" class="nav-link px-2 link-dark">Kontakt</a></li>
      <li><a href="/sajt/faq" class="nav-link px-2 link-dark">Česta pitanja</a></li>
      <li><a href="/sajt/privacy" class="nav-link px-2 link-dark">Privatnost</a></li>
      <li><a href="/sajt/terms" class="nav-link px-2 link-dark">Pravila sajta</a></li>
    </ul>
  </header>
</div>