<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      Vežbamo
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/sajt/probe" class="nav-link px-2 link-secondary">Probe</a></li>
      <li><a href="/zadaci" class="nav-link px-2 link-dark">Math</a></li>
      <li><a href="/pitanja/pitanja" class="nav-link px-2 link-dark">Questons and tests</a></li>
      <li><a href="/sajt/user" class="nav-link px-2 link-dark">User area</a></li>
      <li><a href="/sajt/about" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/sajt/reg"><button type="button" class="btn btn-outline-primary me-2">Registracija</button></a>
      <a href="/sajt/login"><button type="button" class="btn btn-primary">Prijava</button></a>
    </div>
  </header>
</div>