<nav>
    <ul>
      <li><a href="/sajt/reg">Registracija</a></li>
      <li><a href="/sajt/login">Prijava</a></li>
      <li><a href="/sajt/probe"><mark>Proba B&V CDN</mark></a></li>
      <li><a href="/sajt/probe_bv"><mark>Proba B&V npm</mark></a></li>
    </ul>
</nav>