<nav>
  <div class="site-title">
    <p>Sajt za pomoć u učenju (Alpha 0.4.0)<br><br>&#128679;<mark><b>SITE IN CONNSTRUCTION!</b></mark>&#128679;</p>
  </div>
  <ul>
    <li><a href="/zadaci">Zadaci</a></li>
    <li><a href="/pitanja/pitanja">Pitanja</a></li>
    <!--<li><a href="/c_test/c_tests">Testovi</a></li>-->
    <li><a href="/sajt/user">Korisnički deo</a></li>
  </ul>
</nav>