<!doctype html>
<html lang="sr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="/stilovi.css">  -->

  <title>Vežbamo | <%= title %></title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
</head>

<body>
  
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <b>Vežbamo</b>
      </a>
  
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/sajt/probe_bv" class="nav-link px-2 link-secondary">Vue</a></li>
        <li><a href="/zadaci" class="nav-link px-2 link-warning">Matematika</a></li>
        <li><a href="/pitanja/pitanja" class="nav-link px-2 link-danger">Pitanja i testovi</a></li>
        <li><a href="/sajt/user" class="nav-link px-2 link-success">Korisnici</a></li>
      </ul>
  
      <div class="col-md-3 text-end">
        <a href="/sajt/reg"><button type="button" class="btn btn-outline-primary me-2">Registracija</button></a>
        <a href="/sajt/login"><button type="button" class="btn btn-primary">Prijava</button></a>
      </div>
    </header>
  </div>