<%- include(appDir + '/views/partials/t'); %>

  <div class="container">
    <h3>Kontakt</h3>
    <br>
    <p>Mejl za kontakt: mejl@yahoo.com</p>
  </div>

<%- include(appDir + '/views/partials/t2'); %>