<%- include(appDir + '/views/partials/t'); %>

  <div class="container">
    <h3>Prijavljivanje na sajt</h3>
    <h4 style="border:1px solid Tomato;">U izradi...</h4>
    <br>
    <p>(U planu je da se korisnici prijavljuju samo mejlom i lozinkom bez bilo kakvih drugih liÄnih podataka.)</p>
  </div>

<%- include(appDir + '/views/partials/t2'); %>