<%- include(appDir + '/views/partials/t'); %>

  <div class="container">
    <h3>Politika privatnosti</h3>
    <h4 style="border:1px solid Tomato;">Stranica je u izradi...</h4>
    <br>
    <p>Pogledati i: <a href="/sajt/terms"><u>pravila upotrebe sajta</u></a>.</p>
  </div>

<%- include(appDir + '/views/partials/t2'); %>