<%- include(appDir + '/views/partials/t'); %>

  <div class="container">
    <h3>Registracija novih korisnika</h3>
    <h4 style="border:1px solid Tomato;">Stranica je u izradi...</h4>
    <br>
    <p>(U planu je da registrovani korisnici osim pristupa celom sajtu imaju i neke dodatne mogućnosti.)</p>
  </div>

<%- include(appDir + '/views/partials/t2'); %>