
    <!DOCTYPE html>
    <html>
    <body>
      <h1>Sistem: Linux</h1>
      <p>ARHITEKTURA: x64</p>
      <ul>
        <li>OS RELEASE: 5.15.0-52-generic</li>
        <li>OS UPTIME: 19130.64 secconds</li>
        <br>
        <li>PROCESORI: <ul><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 1953</li><li>times: {"user":686390,"nice":1260,"sys":191680,"idle":17914280,"irq":0}</li><br><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 1652</li><li>times: {"user":728560,"nice":1380,"sys":202510,"idle":17985890,"irq":0}</li><br><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 2800</li><li>times: {"user":756200,"nice":3090,"sys":203940,"idle":17962680,"irq":0}</li><br><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 2034</li><li>times: {"user":735570,"nice":1380,"sys":197650,"idle":17967650,"irq":0}</li><br><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 2800</li><li>times: {"user":748320,"nice":2290,"sys":195590,"idle":17945560,"irq":0}</li><br><li>model: AMD Phenom(tm) II X6 1055T Processor</li><li>speed: 1961</li><li>times: {"user":743880,"nice":1100,"sys":195310,"idle":17962280,"irq":0}</li><br></ul></li>
        <br>
        <li>MEMORIJA: 8334512128kb</li>
        <br>
        <li>OS HOSTNAME: vladan-stoni</li>
        <li>USER INFO: <ul><li>uid: 1000</li><li>gid: 1000</li><li>username: vladan</li><li>homedir: /home/vladan</li><li>shell: /bin/bash</li><br></ul></li>
        <br>
        <li>MREŽA: <ul>lo:<li>address: 127.0.0.1</li><li>netmask: 255.0.0.0</li><li>family: IPv4</li><br><li>address: ::1</li><li>netmask: ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff</li><li>family: IPv6</li><br>enp0s7:<li>address: 192.168.0.247</li><li>netmask: 255.255.255.0</li><li>family: IPv4</li><br><li>address: 2a06:5b01:1fd:1a00:2a33:5955:ae7c:ca76</li><li>netmask: ffff:ffff:ffff:ffff::</li><li>family: IPv6</li><br><li>address: 2a06:5b01:1fd:1a00:9b10:ad26:7f19:ab6b</li><li>netmask: ffff:ffff:ffff:ffff::</li><li>family: IPv6</li><br><li>address: fe80::49c4:feb0:faa0:64c0</li><li>netmask: ffff:ffff:ffff:ffff::</li><li>family: IPv6</li><br></ul></li>
        <br>
        <li>SYS CONSTANTS: {"UV_UDP_REUSEADDR":4,"dlopen":{"RTLD_LAZY":1,"RTLD_NOW":2,"RTLD_GLOBAL":256,"RTLD_LOCAL":0,"RTLD_DEEPBIND":8},"errno":{"E2BIG":7,"EACCES":13,"EADDRINUSE":98,"EADDRNOTAVAIL":99,"EAFNOSUPPORT":97,"EAGAIN":11,"EALREADY":114,"EBADF":9,"EBADMSG":74,"EBUSY":16,"ECANCELED":125,"ECHILD":10,"ECONNABORTED":103,"ECONNREFUSED":111,"ECONNRESET":104,"EDEADLK":35,"EDESTADDRREQ":89,"EDOM":33,"EDQUOT":122,"EEXIST":17,"EFAULT":14,"EFBIG":27,"EHOSTUNREACH":113,"EIDRM":43,"EILSEQ":84,"EINPROGRESS":115,"EINTR":4,"EINVAL":22,"EIO":5,"EISCONN":106,"EISDIR":21,"ELOOP":40,"EMFILE":24,"EMLINK":31,"EMSGSIZE":90,"EMULTIHOP":72,"ENAMETOOLONG":36,"ENETDOWN":100,"ENETRESET":102,"ENETUNREACH":101,"ENFILE":23,"ENOBUFS":105,"ENODATA":61,"ENODEV":19,"ENOENT":2,"ENOEXEC":8,"ENOLCK":37,"ENOLINK":67,"ENOMEM":12,"ENOMSG":42,"ENOPROTOOPT":92,"ENOSPC":28,"ENOSR":63,"ENOSTR":60,"ENOSYS":38,"ENOTCONN":107,"ENOTDIR":20,"ENOTEMPTY":39,"ENOTSOCK":88,"ENOTSUP":95,"ENOTTY":25,"ENXIO":6,"EOPNOTSUPP":95,"EOVERFLOW":75,"EPERM":1,"EPIPE":32,"EPROTO":71,"EPROTONOSUPPORT":93,"EPROTOTYPE":91,"ERANGE":34,"EROFS":30,"ESPIPE":29,"ESRCH":3,"ESTALE":116,"ETIME":62,"ETIMEDOUT":110,"ETXTBSY":26,"EWOULDBLOCK":11,"EXDEV":18},"signals":{"SIGHUP":1,"SIGINT":2,"SIGQUIT":3,"SIGILL":4,"SIGTRAP":5,"SIGABRT":6,"SIGIOT":6,"SIGBUS":7,"SIGFPE":8,"SIGKILL":9,"SIGUSR1":10,"SIGSEGV":11,"SIGUSR2":12,"SIGPIPE":13,"SIGALRM":14,"SIGTERM":15,"SIGCHLD":17,"SIGSTKFLT":16,"SIGCONT":18,"SIGSTOP":19,"SIGTSTP":20,"SIGTTIN":21,"SIGTTOU":22,"SIGURG":23,"SIGXCPU":24,"SIGXFSZ":25,"SIGVTALRM":26,"SIGPROF":27,"SIGWINCH":28,"SIGIO":29,"SIGPOLL":29,"SIGPWR":30,"SIGSYS":31},"priority":{"PRIORITY_LOW":19,"PRIORITY_BELOW_NORMAL":10,"PRIORITY_NORMAL":0,"PRIORITY_ABOVE_NORMAL":-7,"PRIORITY_HIGH":-14,"PRIORITY_HIGHEST":-20}}</li>
      </ul>
      </body>
    </html> 
    