<%- include(appDir + '/views/partials/t'); %>
  
  <div class="container">

    <p class="h3 fw-bold text-success bg-white">Korisnički portal</p>
    <br>
    <p>Pošalji nam fajl sa pitanjima ili testom. Mogu biti u sledećim formatima: xls, xlsx, ods.</p>
    <p>Primer fajla sa popunjenim pitanjima imaš: <a href="/primer_sablon_pitanja.xls" download><u>ovde</u></a>.</p>
    <p>Primer fajla sa popunjenim testom imaš: <a href="/primer_sablon_test.xls" download><u>ovde</u></a>.</p>

    <form action="/sajt/fileupload" method="post" enctype="multipart/form-data" accept=".xls,.xlsx,.ods">
      <label onclick="document.getElementById('fajl').click();"
        style="background: #f7f7f7; 
        border-radius: 2px; 
        border: 1px solid rgb(104, 104, 104); 
        display: inline-block;
        padding: 3px 12px;
        cursor: pointer;">
        <u>Odaberi fajl</u>
      </label> 
      <input type='file' name="fajl" id="fajl" style="display:none">
      <input type="submit" value="Pošalji">
    </form>

    <br>
    <br>

    <p style="border:1px solid Tomato;">Pre pisanja poruke pogledaj: <a href="/sajt/faq"><u>najčešće postavljana pitanja</u></a>.</p>
    <form action="/sajt/user" method="POST">

      <table>
        <tr>
          <td>
            <label for="ime_tag">* Ime/tag:</label>
          </td>
          <td style="border: 0px solid white;">
            <input type="text" maxlength="45" id="ime_tag" name="ime_tag" value="" required><br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="mejl">Email:</label>
          </td>
          <td style="border: 0px solid white;">
            <input type="text" maxlength="45" id="mejl" name="mejl" value=""><br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="tema">* Tema</label>
          </td>
          <td style="border: 0px solid white;">
            <input type="text" maxlength="100" id="tema" name="tema" value="" required><br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="poruka">* Poruka:</label>
          </td>
          <td style="border: 0px solid white;">
            <textarea id="poruka" name="poruka" maxlength="1000" rows="4" cols="50" required></textarea><br>
          </td>
        </tr>

        <tr>
          <td style="border: 0px solid white;">
            <button>Upiši poruku</button>
          </td>
          <td style="border: 0px solid white; font-size: small;">
            (Email adresa neće biti prikazana u spisku poruka na sajtu.)
          </td>
        </tr>

      </table>
    
    </form>

    <br>
    <br>
    <p>Nove poruke:</p>
    
    <div id="poruke"></div>

  </div>

  <script>

    let poruke_tekst = '<%- JSON.stringify(poruke) %>';
    let poruke_sort = JSON.parse(poruke_tekst);

    let html = '';
    let datum = '';

    //console.log(pitanja_spisak.length, pitanja_spisak, pitanja.length);

    poruke_sort.forEach(poruka => {
      
      // let datumx = 'GMT+0100 &lpar;Srednjeevropsko standardno vreme&rpar;';
      // let datum = poruka.datum_upisa.replace(datumx, "");
      // console.log(datum)

      html += `
      <div style="background: #f7f7f7; 
        border-radius: 2px; 
        border: 1px solid rgb(104, 104, 104); 
        display: inline-block;
        padding: 1px 4px;
        /*cursor: pointer;*/">
          <p style="font-size: small" class="snippet">[${poruka.b_id}] ${poruka.datum_upisa}</p>
          <p>${poruka.ime_tag}</p>
          <h4>${poruka.tema}</h4>
          <p>${poruka.poruka}</p>
      </div>
      <br>`;

    });

    html += '<br>';

    //console.log(tabela);

    document.getElementById("poruke").innerHTML = html;

  </script>


<%- include(appDir + '/views/partials/t2'); %>