<%- include(appDir + '/views/partials/t'); %>

  <div class="container">

    <h2>Kombi-natorika</h2>
    <!-- -->
  
    <img width="300" id="kombi_gif" src='../kombi.gif'><br>
    <audio id="kombi_muzika" controls autoplay>
        <source src="../Bo Burnham - Bezos I (Lyrics) ceo entrepreneur born in 1964 jeffrey jeffrey bezos.mp3" type="audio/mpeg">
    </audio>
    <br>
  
    <button class="button button1" id="dugme_za_zadatak1" onclick="noviZadatak()">Novi zadatak!</button>
  
    <div id="zadatak"></div>
  
    <!-- <p id="resenje"></p> -->
  
    <form hidden id="dugme_za_zadatak2" action="../zadaci/o1mat"" method="get">
      <input class="button button1" type="submit" name="dugme" value="Novi zadatak?" />
    </form>

  </div>
    
  <script>

    function noviZadatak() {

      fetch('/ajax?id=s1m_kombi&faza=novi', {
      method: 'POST', // or 'PUT'
      // headers: {
      //   'Content-Type': 'application/json',
      // },
      // body: send_form,
      })
      .then(response  => response.text())
      .then(data => {
        // console.log('Primljeni podaci:', data);
        document.getElementById("zadatak").innerHTML = data;
        document.getElementById("kombi_gif").style.display = "none";
        document.getElementById("kombi_muzika").style.display = "none";
        document.getElementById("dugme_za_zadatak1").style.color = "white";
      //document.getElementById("dugme_za_zadatak1").style.display = "none";
      })
      .catch((error) => {
        console.error('Greška:', error);
      });

    }

  </script>

<%- include(appDir + '/views/partials/t2'); %>